@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize



 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
/** Palette de couleurs **/
/* Couleurs de base */
/** Points de rupture **/
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** BASE ******/
/** Typographie **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1 {
  color: red;
}

h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: 2.8rem;
  margin: 0;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 4.8rem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 2rem;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 2.8rem;
}

h3,
.titreNiveau3 {
  font-size: 1.8rem;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 2.2rem;
}

.texte {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/** Hyperliens **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: black;
  text-decoration: underline;
}
.hyperlien:visited {
  color: black;
  text-decoration: underline;
}
.hyperlien:hover {
  color: #5D4A15;
  text-decoration: underline;
}
.hyperlien:focus {
  border: #5D4A15 solid 4px;
  text-decoration: none;
}
.hyperlien:active {
  font-weight: bolder;
  border: none;
  text-decoration: underline;
}

/** Boutons **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.btnEtapeSuivante {
  margin-top: 1em;
  background-color: #B2891A;
  border: 3px solid #B2891A;
  border-radius: 5px;
  color: #fff;
  padding: 1em 1em;
  text-decoration: none;
}
.btnEtapeSuivante:after {
  content: "»";
  margin-left: 0.4em;
}
.btnEtapeSuivante:hover {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
.btnEtapeSuivante:focus {
  background-color: #B2891A;
  border: 3px solid #5D4A15;
}
.btnEtapeSuivante:active {
  background-color: #5D4A15;
  box-shadow: none;
  animation: pulse;
  animation-duration: 0.5s;
}

.btnEtapePrecedente {
  margin-top: 1em;
  background-color: #fff;
  border: #B2891A 3px solid;
  border-radius: 5px;
  color: #B2891A;
  padding: 1em 1em;
  text-decoration: none;
}
.btnEtapePrecedente:before {
  content: "«";
  margin-left: 0.4em;
}
.btnEtapePrecedente:hover {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
.btnEtapePrecedente:focus {
  background-color: #fff;
  border: 3px solid #5D4A15;
  color: #5D4A15;
}
.btnEtapePrecedente:active {
  background-color: #B2891A;
  color: #fff;
  border: none;
  box-shadow: none;
}
.btnEtapePrecedente--inverse {
  background-color: white;
}
/** Grilles **/
/*** Classe conteneur pour le centrage et l'affichage de la grille en arrière-plan ***/
@media (min-width: 600px) {
  .conteneur {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    /* Grille 12 colonnes en arrière-plan - Mettre en commentaires après usage */
  }
}
/*** Classes pour dimensionner les blocs ***/
@media (min-width: 600px) {
  /*** Classe de base pour l'intégration en flexbox ***/
  .rangee {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* valeur par défaut */
  }
  .cols_1_de_12 {
    width: 6.5%;
  }
  .cols_2_de_12 {
    width: 15%;
  }
  .cols_3_de_12 {
    width: 23.5%;
  }
  .cols_4_de_12 {
    width: 32%;
  }
  .cols_5_de_12 {
    width: 40.5%;
  }
  .cols_6_de_12 {
    width: 49%;
  }
  .cols_7_de_12 {
    width: 57.5%;
  }
  .cols_8_de_12 {
    width: 66%;
  }
  .cols_9_de_12 {
    width: 74.5%;
  }
  .cols_10_de_12 {
    width: 83%;
  }
  .cols_11_de_12 {
    width: 91.5%;
  }
  .cols_12_de_12 {
    width: 100%;
  }
}
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/****** MODULES ******/
html {
  margin: 0 0;
  height: fit-content;
  width: 100%;
}

.body {
  margin: 0 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header {
  background-image: url("../images/image_entete.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  max-width: 100%;
}
@media (min-width: 500px) {
  .header {
    height: 40vh;
  }
}

h1 {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}

h2 {
  color: black;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: black;
  font-size: 1.1em;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titre__img {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.menu {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 600px) {
  .menu {
    height: 100px;
  }
}
.menu__img {
  display: inline-block;
  margin-left: 10px;
}
.menu__btn {
  margin-right: 10px;
  background-color: transparent;
  color: #5D4A15;
  border: #5D4A15 solid 1.7px;
  padding: 5px 5px;
}

.ctn_boutons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (min-width: 600px) {
  .ctn_boutons {
    display: unset;
  }
}

.typeDon,
.typeDonateur,
.typePaiement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .typeDon,
  .typeDonateur,
  .typePaiement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

input[type=radio] + label {
  border: solid 1px #5D4A15;
}

input[type=radio]:checked + label {
  background-color: #5D4A15;
  color: #fff;
  font-weight: bold;
}

.btnRadio--court {
  display: inline-block;
  width: 7em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  padding: 0.5em 0.5em;
  margin: 0.3em 0.3em;
}
@media (min-width: 600px) {
  .btnRadio--court {
    width: 5em;
    margin: 0 0.5em;
    max-width: 10em;
  }
}
.btnRadio--long {
  width: 10em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  padding: 1em 1em;
  margin: 0.5em 0;
}
@media (min-width: 600px) {
  .btnRadio--long {
    margin: 0 0.5em;
    max-width: 10em;
  }
}

input[class^=champ] {
  display: block;
}

.champTexte {
  border: none;
  border-bottom: solid black 1px;
  height: 2em;
  line-height: 2em;
  width: 90%;
}
@media (min-width: 600px) {
  .champTexte {
    max-width: 80%;
  }
}
.champTexte--court {
  border: none;
  border-bottom: solid black 1px;
  height: 2em;
  line-height: 2em;
  width: 4em;
}
.champTexte--moyen {
  border: none;
  border-bottom: solid black 1px;
  height: 2em;
  line-height: 2em;
  max-width: 70%;
}

.champSelect {
  padding: 1.2em;
  width: 10em;
  height: 1.5em;
}
.champSelect--court {
  padding: 1.2em;
  width: 15em;
  height: 2em;
}

.autreDon__inputInsertionDon {
  width: 6em;
  font-size: 1.3em;
}
.autreDon__inputInsertionDon > span {
  font-size: 1.3em;
}

.informationDonateur .profil fieldset,
.informationDonateur .adresse fieldset {
  width: 100%;
}

.informationDonateur .profil,
.informationDonateur .adresse {
  border: #5D4A15 solid 1px;
}

form,
.don,
.donateur,
.paiement,
.recapitulatif {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: none;
  max-width: 100%;
  margin: 1em 0;
}

.don,
.donateur,
.paiement {
  border: #5D4A15 solid 1.3px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px;
  max-width: 100%;
}

.btnEtapeSuivante:nth-child(1),
.btnEtapeSuivante:nth-child(4) {
  display: inline-block;
  align-self: flex-start;
  align-items: flex-start;
}

fieldset fieldset {
  border: none;
}

.montantDon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
}
@media (min-width: 600px) {
  .montantDon {
    flex-wrap: nowrap;
  }
}

.montantDon > fieldset {
  width: fit-content;
  margin: 0 0;
  flex: 0 1 45%;
}
@media (min-width: 600px) {
  .montantDon > fieldset {
    flex: 0 1 20%;
  }
}

.don__retroaction,
.prelevementBancaire__numCompteChoix,
.carteCredit__retroaction {
  color: #AE2626;
}

.informationDonateur fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.informationDonateur .donEntreprise fieldset {
  width: 100%;
}
.informationDonateur .profil__titre, .informationDonateur .adresse__titre {
  padding: 0.5em 0.5em;
  font-size: 1.3em;
}

.prelevementBancaire fieldset,
.carteCredit fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.recapDon,
.recapDonateur,
.recapPaiement {
  border: black 1px solid;
}

.recapDon legend,
.recapDonateur legend,
.recapPaiement legend {
  font-size: 1.3em;
  color: #5D4A15;
}

.carteCredit fieldset:nth-child(3) {
  display: unset;
}

.paypal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.paypal__img {
  display: inline-block;
  width: 60%;
}
@media (min-width: 600px) {
  .paypal__img {
    width: 45%;
  }
}
.paypal__lien {
  display: inline-block;
}

@media (min-width: 600px) {
  .paysProvince,
  .telephone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.don .btnEtapeSuivante,
.recapitulatif .btnEtapePrecedente,
.recapitulatif .btnEtapeSuivante {
  align-self: flex-start;
}

.recapitulatif .recapDon p:nth-child(even),
.recapitulatif .recapDonateur p:nth-child(even),
.recapitulatif .recapPaiement fieldset p:nth-child(even),
.recapitulatif .recapPaiement div p:nth-child(odd) {
  font-weight: 100;
}

.ctn_recap {
  margin: 0.2em 0;
  padding-left: 0;
}
@media (min-width: 600px) {
  .ctn_recap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.ctn_recap p {
  padding: 0 0;
  margin: 0 0.3em;
}

.recapitulatif .recapDon p:nth-child(even),
.recapitulatif .recapDonateur .ctn_recap p:nth-child(odd),
.recapitulatif .recapPaiement p:nth-child(1),
.recapitulatif .recapPaiement fieldset p:nth-child(odd) {
  font-weight: bold;
}

.erreur {
  border: #AE2626 solid 3px;
}

.retroactionErreur,
.labelErreur {
  color: #AE2626;
  font-weight: bold;
}

.cache {
  display: unset;
  visibility: hidden;
  height: 1px;
}

.entreeSuivant {
  animation: fadeInRight;
  animation-duration: 0.7s;
  animation-direction: normal;
}

.entreePrecedent {
  animation: fadeInLeft;
  animation-duration: 0.7s;
  animation-direction: normal;
}

p img {
  height: 20px;
  width: 20px;
}

/*Début*/
.progression {
  counter-reset: step;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.progression li {
  list-style: none;
  display: inline-block;
  width: 20%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.progression li:nth-child(1):before {
  content: "1";
}

.progression li:nth-child(2):before {
  content: "2";
}

.progression li:nth-child(3):before {
  content: "3";
}

.progression li:nth-child(4):before {
  content: "4";
}

.progression li:before {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
  color: #AFBC21;
}
@media (min-width: 600px) {
  .progression li:before {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
}

.progression li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  top: 35%;
  left: -50%;
  z-index: -1;
}

.progression li:first-child:after {
  content: none;
}

.progression li.rempli {
  content: "✔";
  color: #8C952D;
  font-weight: bold;
}

.progression li.rempli:before {
  content: "✔";
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background-color: #8C952D;
  border-color: #8C952D;
}
@media (min-width: 600px) {
  .progression li.rempli:before {
    font-size: 2em;
  }
}

.progression li.rempli + li:after {
  background-color: #8C952D;
}

.progression li.enCours {
  color: #8C952D;
  font-weight: bold;
}

.progression li.enCours:before {
  color: #8C952D;
  font-weight: bold;
  font-size: 1em;
  background-color: #fff;
  border: #8C952D solid 2px;
}
@media (min-width: 600px) {
  .progression li.enCours:before {
    font-size: 1.5em;
  }
}

.progression li.enCours + li:after {
  background-color: #dddddd;
}

/***Fin***/
.footer {
  background-color: #8C952D;
  color: #fff;
  padding: 1em 0 1em 0;
}
.footer__copyright {
  text-align: center;
}
.footer__p {
  text-align: center;
}
.footer__lien {
  color: #fff;
}

.confirmation__body {
  position: relative;
}
.confirmation__body .icone {
  display: block;
  text-align: center;
  position: relative;
  top: 5px;
  left: 48%;
}
.confirmation__body h1 {
  color: #8C952D;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.confirmation__body p {
  text-align: center;
}
.confirmation__body .lien {
  display: block;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
